<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="Pipelines.Sockets.Unofficial" version="2.2.8" />
  <package id="StackExchange.Redis" version="2.7.33" manuallyInstalled="true" />
  <package id="System.IO.Pipelines" version="5.0.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" manuallyInstalled="true" />
  <package id="System.Threading.Channels" version="5.0.0" />
</packages>